<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hevoke - Password Reset</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
   <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
   <link rel='stylesheet' href='../css/style.css' />
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="nopanel">

    <section class="layout-container-narrow py-medium section-bg-lighter">
        <span class="site-logo-text logo-text-small">Hevoke</span><br><h4>Password Reset</h4>
    </section>


    <section class="layout-container-narrow py-medium" id="mainform">
       
            <p class="text-lighter">Insert your account's email. You'll receive a link to reset your password.</p>

            <form role="form" method="post" action="/account/request-reset-password">
                <div style="margin:20px 0;">
                    <label>Your Account's Email</label><span><input type="text" class="input-lead input-bg-lighter" id="email" name="email" placeholder="Email" required>
                </div> 
                <button id="submit-form" type="submit" class="btn btn-ic btn-big btn-bg-lighter">Send Link<img src="../icons/f/mail.svg"></button>
            </form>

            <% if (message.length > 0) { var alertClass= status=='ok' ? 'alert-success' : 'alert-danger'; %>
                <div class="alert <%= alertClass %>"><%= message %></div>
            <% } %>

            <div style="border-top: 1px solid#666; margin-top:70px; padding-top: 15px; font-size:85%; opacity: 0.7;" >
                <a href="/home">Home</a> - <a href="/login">Login</a>
            </div>
  
    </section>   

<script>


function checkInputEmail(){
    
        var email =  document.getElementById("email").value.trim();
        if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email)){
                if(email != ''){
                    $.ajax({
                        url: '/signupCheckEmail',
                        type: 'post',
                        data: {email: email},
                        success: function(response){
                            if(response=="false"){
                                checkEmail = false;
                                $('#signup-email-response').html("<span class='form-response'>This email is already used for an account.</span>");
                                document.getElementById("email-status").classList.remove("success");
                                document.getElementById("email-status").innerHTML = "x";
                                document.getElementById("email-status").classList.add("input-review");
                                
                            }
                            else{
                                checkEmail = true;
                                $('#signup-email-response').html("");
                                document.getElementById("email-status").innerHTML = "✓";
                                document.getElementById("email-status").classList.add("success");
                            
                            }
                            
                        }
                    });
                }else{
                    $("#signup-email-response").html("");
                    
                }
        }
        else{
            checkEmail = false;
            $('#signup-email-response').html("<span class='form-response'>This email is not in a valid format.</span>");
            document.getElementById("email-status").classList.remove("success");
            document.getElementById("email-status").innerHTML = "x";
            document.getElementById("email-status").classList.add("input-review");
          
        }

}




$('#username').on('change', function(){
    checkInputUsername();
});


$("#email").on('change', function(){
    checkInputEmail();
});


$('#password').on('change', function(){
    checkInputPassword();
});




/* PREVENT SPACES IN INPUTS */

var inputUsername = document.querySelector('[name="artist_name"]');
inputUsername.addEventListener('keypress', function ( event ) {  
   var key = event.keyCode;
    if (key === 32) { event.preventDefault(); }
});


var inputEmail = document.querySelector('[name="email"]');
inputEmail.addEventListener('keypress', function ( event ) {  
   var key = event.keyCode;
    if (key === 32) { event.preventDefault(); }
});


var inputPassword = document.querySelector('[name="password"]');
inputPassword.addEventListener('keypress', function ( event ) {  
   var key = event.keyCode;
    if (key === 32) { event.preventDefault(); }
});

</script>
                
       
   
</body>
</html>