<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create users with Spotify API</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='../css/style.css' />
    <link rel='stylesheet' href='../css/access.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>

<body class="access login">

<section class="layout-container-wide py-medium text-center">

        
        <hr>

        <div class="row">

            <div class="col">
                    <h5>Authorize and get a token</h5>
                    <br>

                    <div class="d-flex">
                        <div class="col-auto">
                            <a class="btn btn-medium btn-bg-outline" href="https://accounts.spotify.com/authorize?client_id=b788def99db74d2db15f3d9d2f7ac297&redirect_uri=https:%2F%2Fhevoke.onrender.com%2Fspotifyapisglobal&scope=user-read-private%20user-top-read%20user-read-email%20playlist-modify-public%20playlist-modify-private&response_type=token&state=123">Get Token</a>
                        </div>
                    </div>
            </div>

            <div class="col">
                <div id="step-form" style="display: none">
                <a class="btn btn-medium btn-bg-outline" onclick="document.getElementById('sendform').click()">Send Form</a>
                 </div>
            </div>

</section>

<section class="layout-container-wide py-medium text-center">

        <h3>Artists from Top 50 Global Spotify</h3>
        <hr>
        <div id="card-artists-container"></div>

 </section>


<section class="layout-container-wide py-medium text-center">

        <h2>Create users with Spotify API</h2>

        <h4>Queries with top artists</h4>
        <hr>
        <ul id="top-artists"></ul>

 </section>
       

 <section class="layout-container-wide py-medium">
        <h4>Save on disk images from urls</h4>
        <hr>
        <form method="POST" action="/upload-image-url">
        <div id="form-upload-images-from-api"></div>
        <button class="btn btn-big btn-bg-outline d-none" type="submit" id="sendform">Save Images</button>
        </form>

</section>


<script>

function createCardArtist(name, spotify_url, spotify_image, genres, followers) {
    const card = document.createElement('div');
    card.classList.add('card-artist');

    const cardArtistName = document.createElement('h6');
    cardArtistName.textContent = name;

    const cardArtistLink = document.createElement('a');
    cardArtistLink.href = spotify_url;
    cardArtistLink.innerHTML = "Spotify Profile";

    const cardArtistImage = document.createElement('img');
    cardArtistImage.src = spotify_image;

    const cardArtistDesc = document.createElement('p');
    cardArtistDesc.textContent = followers + " followers";

    const cardArtistDesc2 = document.createElement('p');
    cardArtistDesc2.textContent = genres;

    card.appendChild(cardArtistImage);
    card.appendChild(cardArtistName);
    card.appendChild(cardArtistDesc);
    card.appendChild(cardArtistLink);
    return card;
}

var url = decodeURIComponent(window.location.href);

function getParameterByName(name) {
    var match = RegExp('[#&]' + name + '=([^&]*)').exec(url);
    return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
}

var token = getParameterByName('access_token'); 

 $(document).ready(function() {

const cardArtistsContainer = document.getElementById('card-artists-container');


    function load(url){
            $.ajax({

                type: 'GET',
                url: url,
                contentType : 'application/json',

                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + token
                },
                success: function(response) {

                    console.log(response.items);

                    var ul = document.getElementById("top-artists");  
                    var form = document.getElementById("form-upload-images-from-api");

                    var artists = [];

                    for (i = 0; i < response.items.length; i++) { 
                        
                        /*var spotify_url = "https://open.spotify.com/artist/" + response.items[i].track.artists[0].id;*/
                        var spotify_id = response.items[i].track.artists[0].id;
                       
                        var endpointGetUser = 'https://api.spotify.com/v1/artists/' + spotify_id;
                        $.ajax({
                            type: 'GET',
                            url: endpointGetUser,
                            contentType : 'application/json',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json',
                                'Authorization': 'Bearer ' + token
                            },
                            success: function(responseArtist) {
                                var spotify_name = responseArtist.name;
                                var spotify_id = responseArtist.id;
                                var spotify_url = responseArtist.external_urls.spotify;
                                var spotify_image = responseArtist.images[0].url;
                                var genres = responseArtist.genres;
                                var followers = responseArtist.followers.total;
                                var hevoke_username =  responseArtist.name.replace(/\s+/g, '').toLowerCase();
                                cardArtistsContainer.appendChild(createCardArtist(spotify_name, spotify_url, spotify_image, genres, followers));
                                artists.push({ spotify_name: spotify_name, spotify_id: spotify_id, spotify_image: spotify_image, followers: followers, hevoke_username: hevoke_username, genres: genres });
                                
                                if(responseArtist.popularity < 30){ var user_level = 1; }
                                if(responseArtist.popularity >= 30 && responseArtist.popularity < 60){ var user_level = 2; }
                                if(responseArtist.popularity >= 60 ){ var user_level = 3; }
            
                                    /*
                                    var artist_types = ["singer", "rapper", "producer", "dancer", "video director"];
                                    var artist_type = artist_types[Math.floor(Math.random() * artist_types.length)];
            
                                    if(artist_type=="singer" || artist_type=="rapper" || artist_type=="producer"){  artist_macro="M"; }
                                    if(artist_type=="dancer"){ artist_macro="D"; }
                                    if(artist_type=="video director"){ artist_macro="V";}
            
                                    var radar_category = artist_types[Math.floor(Math.random() * artist_types.length)];
                                    */
            
                            
            
                                    var user_id = spotify_id;
                                    var user_name = hevoke_username;
                                    var artist_name = responseArtist.name;
                                    var artist_macro = "M";
                                    var artist_type = "singer";
                                    var countries = ["IT", "US", "ES", "GB", "FR", "DE"];
                                    var country = countries[Math.floor(Math.random() * countries.length)];
                                    var followers = responseArtist.followers.total;
                                    var user_level = 3;

                                    var most_liked_ids = ["1vyhD5VmyZ7KMfW5gqLgo5", "3AA28KZvwAUcZuOKwyblJQ", "5K4W6rqBFWDnAN6FQUkS6x", "6XyY86QOPPrYVGvF9ch6wz", "1vyhD5VmyZ7KMfW5gqLgo5"]
                                    var liked_id = most_liked_ids[Math.floor(Math.random() * most_liked_ids.length)];
            
            
                                    var li = document.createElement("li");
                                    li.appendChild(document.createTextNode(`INSERT IGNORE INTO UserArtist (user_id, user_name, artist_name, artist_macro, artist_type, country, email, password, active, user_level) VALUES ('${user_id}', '${user_name}', '${artist_name}', '${artist_macro}', '${artist_type}', '${country}', '${user_name}@email.it', '$2b$10$zBoLgQzRTERVfNc/zWVhFOQ6ni3xHbAmd80xDCytrq652ZsuS8HhG', '1', '${user_level}');`));
                                    ul.appendChild(li);
            
                                    var li = document.createElement("li");
                                    li.appendChild(document.createTextNode(`INSERT IGNORE INTO UserProfile (user_id, bio) VALUES ('${user_id}', '${followers} followers su Spotify');`));
                                    ul.appendChild(li);
            
                                    /*
                                    var li = document.createElement("li");
                                    li.appendChild(document.createTextNode(`INSERT IGNORE INTO UserRadar (user_id, category_id) VALUES ('${user_id}', '${radar_category}');`));
                                    ul.appendChild(li); 
            
                                    var li = document.createElement("li");
                                    li.appendChild(document.createTextNode(`INSERT IGNORE INTO UserCategory (user_id, category_id) VALUES ('${user_id}', '${artist_type}');`));
                                    ul.appendChild(li);
                                    */
            
                                    var li = document.createElement("li");
                                    li.appendChild(document.createTextNode(`INSERT IGNORE INTO UserLinks (user_id, link_type, link_name, url) VALUES ('${user_id}', 'listen', 'spotify', '${spotify_url}');`));
                                    ul.appendChild(li);
            
                                    var li = document.createElement("li");
                                    li.appendChild(document.createTextNode(`INSERT IGNORE INTO UserLinks (user_id, link_type, link_name, url) VALUES ('${user_id}', 'listen', 'youtube', 'https://youtube.com/${user_name}');`));
                                    ul.appendChild(li);
            
                                    var li = document.createElement("li");
                                    li.appendChild(document.createTextNode(`INSERT IGNORE INTO UserLinks (user_id, link_type, link_name, url) VALUES ('${user_id}', 'connect', 'instagram', 'https://instagram.com/${user_name}');`));
                                    ul.appendChild(li);
            
            
                                    var li = document.createElement("li");
                                    li.appendChild(document.createTextNode(`INSERT IGNORE INTO UserLikes (id_sender, id_receiver) VALUES ('${user_id}', '${liked_id}');`));
                                    ul.appendChild(li);
                                    
                         
                                    var genres = responseArtist.genres;
                                    var dbGenre = "";
                                    for (var j = 0; j < genres.length; j++) {
                                        if(genres[j].includes("rap")){ dbGenre = "rap"; }
                                        if(genres[j].includes("rock")){ dbGenre = "rock"; }   
                                        if(genres[j].includes("pop")){ dbGenre = "pop"; }   
                                        if(genres[j].includes("metal")){ dbGenre = "metal"; }  
                                        if(genres[j].includes("dance") || genres[j].includes("electronica")){ dbGenre = "dance-electronica"; }          
                                    }
            
                                    if(dbGenre.length > 0){
                                        var li = document.createElement("li");
                                        li.appendChild(document.createTextNode(`INSERT IGNORE INTO UserGenres (user_id, cod_subgenre) VALUES ('${user_id}', '${dbGenre}');`));
                                        ul.appendChild(li);
                                    }
                    
                                var input = document.createElement("input");
                                input.type = "text";
                                input.name = "urls";
                                input.value = responseArtist.images[0].url;
                                input.setAttribute("value", responseArtist.images[0].url);
                                form.appendChild(input);
            
                                var input = document.createElement("input");
                                input.type = "text";
                                input.name = "ids";
                                input.value = user_id;
                                input.setAttribute("value", user_id);
                                
                                form.appendChild(input);
            
                                document.getElementById("step-form").style.display="block";


                            }
                        });




                                            
                        }
                }
            });

    }

    load('https://api.spotify.com/v1/playlists/37i9dQZEVXbMDoHDwVN2tF/tracks');

console.log(artists);
 
});


</script>
 
                    
</body>
</html>
